#root {
  max-width: 1280px;
  text-align: center;
}

.game {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/*LETTERS*/

.letter-box {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 0.3rem;
  border-color: #888;
  border-style: solid;
  border-width: 1px;
  text-transform: capitalize;
  font-weight: 600;
  font-size: 1rem;
  transition: transform 0.6s ease;
}

.letter-box.absent{
  transform: rotateX(360deg);
  background-color: #a4aec4;
}

.letter-box.elsewhere{
  transform: rotateX(360deg);
  background-color: #f3c237;
}

.letter-box.correct{
  transform: rotateX(360deg);
  background-color: #79b851;
}

.active div{
  border-color: #646cff;

}

.difficulty-button{
  padding: 1rem;
  width: 10rem;
  margin: 0.25rem 4rem;
  background-color: #57ac57;
}


.toast{
  margin-top: 6rem;
}

/*GAME OVER MODAL*/

.game-over-modal{
  background-color: #3d4054;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  width: 20rem;
  position: absolute;
  z-index: 1000;
  animation: slideDown 0.6s ease forwards;
  opacity: 0; 
  border-radius: 0.5rem;
  align-self: flex-start;
}

.game-over-modal button{
  padding: 1rem;
  border-radius: 1rem;
  background-color: #57ac57;
  margin: 2rem;
}
.topList{
  background-color: #313448;
  font-size: 1.5rem;
  font-weight: 700;
  display: flex;
  height: 41px;
  padding: 0.5rem;
  text-align: center;
  justify-content: center;
  align-items: center;
  align-content: center;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
}

.confetti{
  position: absolute;
  z-index: 500;
}

@keyframes slideDown {
  80% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/*KEYBOARD*/
.keyboard{
  padding-top: 2rem;
}

.key-row .enter{
    padding: 1rem;
    width: auto;
}

/*GENERALES*/
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.column {
  flex-direction: column;
  gap: 0.4rem;
}

.row {
  flex-direction: row;
  gap: 0.4rem;
}

.overshadow{
  filter: opacity(0.2);
}





